body {
    background-color: #fff; 
    text-align: center;
    font-family: 'Oswald', sans-serif;
  }
  h1 {
    color: black;
    margin: 50px;
    font-size: 58px;
  }
  p {
    color: red;
    margin: 50px;
  }
  .cactus-logo {
      width: 10px;
      height:10px;
  }
  img {
      width:500px;
  }
  
  .img-block {
    background-color: blue;
    margin: 50px;
    padding: 10px;
  }
  
  .home_notice {
      padding:12px 10px 10px;
      background: #ffbae7;
  }
  
  body {
    color: black;
  }
  
  .footer {
    position: fixed;
    left: 0;
    right:0;
    bottom: 0;
  
  }
  
  .title {
    margin: 100px 0 100px 0;
    font-size: 3em;
  }
  
  .auth-button {
  
    background-color: black;
    color: white;
    padding: 35px;
    width: 100%;
  }
  
  .navbar-button {
    padding: 10px;
  }
  
  .left {
    border-right: 2px solid white;
  }
  
  .right {
    border-right: 2px solid white;
  }
  
  .auth-button a {
    color: white;
  }
  
  .auth-button a:hover {
    color: white;
    text-decoration: none;
  }
  
  .browse {
    margin:50px 0 50px 0;
  }
  
  .browse a {
    color: black;
    text-decoration: none;
  }
  
  .new_shoe {
    margin: 100px;
  }
  
  .display_shoes {
    text-align:center;
    margin:100px 0 100px 0;
  } 
  
  .shoe-container {
    padding: 1px;
    margin: 0 auto;
    background-color: black;
    color: white;
    text-align: center;
  }
  
  .shoe-name {
    font-weight: 600;
  }
  
  .homepage-header {
    background-color: black;
    color: white;
    padding: 35px;
    width: 100%;
  }
  
  .new_account {
    margin:100px;
  }
  
  .display-shoes-header a {
    color: black;
    text-decoration: none;
  }
  
  .log-into-account {
    margin:100px;
  }
  
  .create-account-sign {
    margin:10px 50px 20px 50px;
  }
  
  
  img {
    object-fit: cover;
    object-fit: scale-down;
    width:75px;
    height:75px;
  }
  @media only screen and (min-device-width: 400px) {
    img {
      object-fit: cover;
      object-fit: scale-down;
      width:300px;
      height:300px;
    }
  }